<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/login.css}">
    <style>
        .top-right {
            position: absolute;
            top: 8px;
            right: 16px;
            font-size: 18px;
        }
    </style>
</head>
<body>

    <div class="login-container">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Login">
        </form>

        <p th:if="${error}" th:text="${error}"></p>
    </div>
    <a href="/register" class="top-right" th:href="@{/register}"><button>Register</button></a>

</body>
</html>
